//spacing

$break375: 375px;
$break480: 480px;
$break508: 508px;
$break568: 568px;
$break640: 640px;
$break768: 768px;
$break868: 868px;
$break968: 968px;
$break1024: 1024px;
$break1100: 1100px;
$break1208: 1208px;
$break1230: 1230px;
$break1280: 1280px;
$break1300: 1300px;
$break1300: 1400px;
$break1400: 1400px;