$black: #000;
$blackish: #181818;
$black-background: #18191b;

$blue: #009dff;
$blue2: #00a1ff;
$gray: #868e96;
$gray-dark: #050505;
$red: #e2231a;
$skyblue: #cccdd3;
$white: #fff;
$gray_light: #cccdd3;
$gray_title: #d9d9d9;
$gray_line: #b7b7b7;

$primary_color: $blue;
$text_light: $gray_light;

$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;