.hero-text-with-cta {
  z-index: 10;
  width: 100%;
  position: relative;

  &__gradient {
    background: linear-gradient(90.13deg, #000 0.11%, rgba(0, 0, 0, 0) 49.99%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  &__image,
  &__image-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    padding: calc(32 / 375 * 100vw);
    text-align: center;
    display: block;


    @media (min-width: $break768) {
      text-align: left;
      padding: calc(40 / 768 * 100vw);
    }

    @media (min-width: 1024px) {
      padding: calc(50 / 1024 * 100vw);
    }

    @media (min-width: 1440px) {
      padding: 72px;
      padding-right: 0;
    }
  }

  &__text {
    max-width: 624px;
  }
  &__title {
    font-size: 38px;
    line-height: 45.6px;
    margin: 0;
    font-weight: 700;

    @media (min-width: $break768) {
      font-size: 70px;
      line-height: 84px;
      letter-spacing: -1px;
    }
  }
  &__description {
    font-size: 20px;
    line-height: 29.6px;
    color: #cccdd3;
    margin: 75px 0;

    @media (min-width: $break768) {
      font-size: 16px;
      line-height: 29.12px;
      color: #fff;
      opacity: 0.8;
      margin: 45px 0;
    }
  }

  &__secondary-cta {
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 33px;

    @media (min-width: $break768) {
      display: none;
    }
  }
}
