.partners { margin-bottom: 25px; text-align: center;
	h3 { margin-bottom: 70px; }
	ul { max-width: 1000px; margin: 0 auto; }
	li { display: inline-block; max-width: 100px; margin: 0 10px 28px; }
}

.advertise-list { margin-bottom: 78px;
	li { display: table; width: 100%; margin-top: 50px; background-color: $blackish;
		div.content { padding: 40px 20px; }
		h3 { margin-bottom: 22px; color: $primary_color; }
	}
	li:first-child { margin-top: 0; }
	.h-m {
		.img-holder { display: none; }
		.img-holder.mobile { display: block; }
	}
}

@media (min-width: $break768) {
	.partners { margin-bottom: 68px; 
		li { max-width: 175px; margin: 0 30px 28px; }
	}
	.advertise-list { margin-bottom: 104px; }
}


@media (min-width: $break968) {
	.advertise-list { margin-bottom: 104px;
		li { margin-top: 75px;
			div.content { display: table-cell; vertical-align: middle; width: 50%; padding: 65px 65px; }
			h3 { margin-bottom: 22px; color: $primary_color; }
			p { font-size: 14px; }
			div.img-holder{ display: table-cell; padding: 0; max-width: 100%; height: 100%; background-size: cover; background-position: center center; }
			img { display: table-cell; vertical-align: top; visibility: hidden; }
		}
		li:first-child { margin-top: 0; }
		.h-m {
			.img-holder { display: table-cell; }
			.img-holder.mobile { display: none; }
		}
	}
}

@media (min-width: $break1024) {
	.advertise-list li p { font-size: 18px; }
}